@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

* {
      padding: 0; margin: 0; font-family: 'Poppins', sans-serif; box-sizing: border-box;
}

body {
      /* SIZE */
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      /* BACKGROUND COLOR PART */
      background: rgb(38,44,66);
      background: linear-gradient(180deg, rgba(38,44,66,1) 0%, rgba(38,44,66,1) 35%, rgba(78,89,119,1) 100%);
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: fixed;

      /* FLEX PART */
      display: flex; justify-content: center; align-items: center;
}

.login-div {
      /* SIZE */
      width: 80vw;
      height: 80vh;

      /* COLOR, RADIUS & SHADOWS */
      background-color: rgb(27, 27, 42);
      box-shadow: rgba(27, 27, 42 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      -moz-box-shadow: rgba(27, 27, 42, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	-webkit-box-shadow: rgba(27, 27, 42, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border-radius: 6px;

      /* FLEX */
      display: flex; justify-content: center; align-items: center;
}

.left-div {
      /* SIZE */
      width: 50%;
      height: 100%;
      
      /* PADDING */
      padding: 20px;

      /* FLEX */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column !important;
}

.left-div form {
      /* SIZE */
      width: 100%;

      /* FLEX */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column !important;
}

.mid-div {
      /* SIZE */
      width: 100%;

      /* FLEX */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 150px;

      /* COLOR */
      color: rgb(199, 115, 255);
      text-shadow: 0px 0px 6px rgb(199, 115, 255);
}

.h1-mid {
      font-size: 50px !important;
}

.aller-div {
      /* FLEX */
      display: flex;
      justify-content: flex-start;
      width: 80%;
      margin-bottom: 10px;
      color: rgb(199, 115, 255);
      text-shadow: 0px 0px 6px rgb(199, 115, 255);
}

.left-div input {
      width: 80%;
      background-color: transparent;
      border: none;
      padding: 14px 20px;
      margin-bottom: 45px;
      transition: all ease 0.25s;
      border: 2px solid rgb(249, 120, 244);
      box-shadow: rgba(199, 115, 255, 0.4) -5px 5px, rgba(199, 115, 255, 0.3) -10px 10px, rgba(199, 115, 255, 0.2) -15px 15px, rgba(199, 115, 255, 0.1) -20px 20px, rgba(199, 115, 255, 0.05) -25px 25px;
}

.left-div input:hover {
      background-color: rgb(38,44,66);
      transition: all ease 0.25s;
}

.left-div input[type="submit"] {
      margin-top: 30px;
      color: rgb(199, 115, 255);
      font-size: 1.25rem;
      cursor: pointer;
      transition: all ease 0.25s;
}

.left-div input[type="submit"]:hover {
      background-color: rgb(38,44,66);
      transition: all ease 0.25s;
}


.left-div input::placeholder {
      color: white;
}

.right-div {
      /* SIZE */
      width: 50%;
      height: 100%;
      
      /* BORDER RADIUS */
      border-top-right-radius: 8px; border-bottom-right-radius: 8px;
      
      /* BACKGROUND IMAGE */
      background-image: url("topbackground.jpg");
      background-position: center;

      /* PADDING */
      padding: 20px;
}


/*|------------------------------------------------------------------------------------------|*/


/* TEXT */
span {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: block;
  color: rgb(199, 115, 255);
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

span::before {
  content: "RISONAR";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgb(86, 48, 112) 2px,
    rgb(199, 115, 255) 4px
  );
  background-clip: text;
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
  text-shadow: 0px 15px 5px rgba(199, 115, 255, 0.2),
                 10px 20px 5px rgba(199, 115, 255, 0.10),
                 -10px 20px 5px rgba(0199, 115, 255, 0.05);
}

span::after {
  content: "RISONAR";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    rgb(86, 48, 112) 2px,
    rgb(199, 115, 255) 4px
  );
  background-clip: text;
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
} 
/* TEXT */


/* SMALL PARA */
article {
      background: linear-gradient(
        to right, 
        rgb(199, 115, 255), 
        rgb(175, 250, 255)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
}
    
p {
      margin-top: 28px;
      font-family: "Dank Mono", ui-monospace, monospace;
      text-shadow: 0px 15px 5px rgba(199, 115, 255, 0.2),
      10px 20px 5px rgba(199, 115, 255, 0.10),
      -10px 20px 5px rgba(0199, 115, 255, 0.05);
      font-size: 23px;
}

.low-para {
      font-weight: bold;
}

.low-para-2 {
      font-size: 33px !important;
}

.low-para-3 {
      font-size: 40px !important;
}
/* SMALL PARA */


/* BLACK HOLE*/

.animation-wrapper {
      width: 25%;
      padding-bottom: 50%;
}
    
.sphere-animation {
      position: absolute;
      top: 70%;
      left: 79.8%;
      width: 200px;
      height: 200px;
      margin: -290px 0 0 -290px;
}
    
.sphere path {
      fill: url(#sphereGradient);
      stroke-width: 1px;
      stroke: hsl(204 100% 59%);
      backface-visibility: hidden;
}
    
@media (min-width: 500px) {
      .sphere path {
            stroke-width: 0.4px;
      }
}
    /* BLACK HOLE */

/*|------------------------------------------------------------------------------------------|*/
